.about-main {
    flex: 1;  /* Allow the content to grow and take up available space */
    overflow: auto; /* Ensure the content is scrollable if it exceeds the available space */
    padding: 20px;
  }
  
  /* About page container */
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  
  /* About page container */
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Quote section styling */
  #quote {
    font-style: italic;
    color: #555;
    text-align: center;
  }
  
  #quote div {
    margin-bottom: 30px;
  }
  
  /* Optional: Add padding to content to make sure footer is separated */
  .content {
    padding-bottom: 100px; /* Prevents content from reaching the footer */
  }
  
  /* Style for the picture box */
  .picture-box {
    margin-top: 20px;
  }
  
  img {
    margin-top: 60%;
    max-width: 100%; /* Ensure the image scales down in smaller viewports */
    height: auto;
  }
  
